@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$primaryColor : #FF725E;
$greenColor: #8ee181;
$font-family: 'Poppins', sans-serif;


.tee{
  &-body{
    font-family: $font-family;
    width: 100%;
    min-height: 100vh;
    background-color: $greenColor;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-widget{
    padding: 2rem 2rem;
    i{
      color: $greenColor;
    }
  }

  &-btn{
    &-primary{
      
      
      padding: .5rem 4rem;
      color: white;
      background: $greenColor;
      &:hover{
        background: darken($color: $greenColor, $amount: 20);
      }
    }

    &-logout{
      background: rgba(255, 255, 255, 0.281) !important;
      
    }
  }

  &-form{
    width: 800px;
    height: 95vh;
    border-radius: .8rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    &__left{
      background: #ffffff57;
    }
    &__right{
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      padding: 0 5rem;
    }


    form{

      .form-group{
        label{
         
        }

        input{
          border: 0;
          border-bottom: 1px solid $greenColor;

          &:focus, &:focus-within{
            box-shadow: none;
            outline: 0;
            border-top: 1px solid $greenColor;
          }
        }
      }
      .input-group{
        span{
          border: none;
          background: none;
        }
      }
    }
  }
}


/**** CUSTOMIZATION ***/
.logo, .sidebar{
  background: $greenColor!important;
}
.sidebar{
  background: $greenColor!important;
}
.sidebar-wrapper{
  background: $greenColor!important;
  ul{
    li{
      a{
        color:rgb(12, 12, 12) !important;
        i{
          color: #244972 !important;
        }
      }
    }
  }
}