{% extends "admin_base.html" %}


{% block Heading %}
  <p class="display-3 text-white text-center">All, Programs</p>
{% endblock Heading %}

{% block Content %}
  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          {% if sponsors %}
            {% for sponsor in sponsors  %}
              <tr>
                <td>{{sponsor.id}}</td>
                <td>{{sponsor.message}}</td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock Content %}