<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!-- BOOTSTRAP LINK -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />

    <!-- FONT ICONS -->
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">

    

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>
    <section class="tee-body">
      <div class="tee-form p-4">
        <div class="tee-form__left p-4">
          
        </div>
        <div class="tee-form__right p-4">
          <h4 class="">Get's started</h4>
          <p class="text-muted">Already have an account? <span><a href="#" class="tee-color-primary">Log in</a></span></p>

          <form action="" class="">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Firstname</label>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="Firstname" aria-label="Firstname" aria-describedby="basic-addon1">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Firstname</label>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="Firstname" aria-label="Firstname" aria-describedby="basic-addon1">
                  </div>
                </div>
              </div>
            </div><!--/ROW-->
            <div class="form-group">
              <label for="">Username</label>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Firstname" aria-label="Firstname" aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="form-group">
              <label for="">Phone</label>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Firstname" aria-label="Firstname" aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <button class="btn btn-default tee-btn-primary">
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
