<div class="logo">
  <a href="{% url 'host:index' %}" class="simple-text logo-mini">
    FM
  </a>
  <a href="{% url 'host:index' %}" class="simple-text logo-normal">
    GREENA FM
  </a>
</div>
<div class="sidebar-wrapper" id="sidebar-wrapper">
  <ul class="nav">
    <li class='active'>
      <a href="{% url 'host:index' %}">
        <i class="now-ui-icons design_app"></i>
        <p>Dashboard</p>
      </a>
    </li>
    
    
    <li class="active-pro tee-btn-logout">
      <a href="./upgrade.html">
        <i class="fa fa-plane"></i>
        <p>Log out</p>
      </a>
    </li>
  </ul>
</div>